<div class="wrapper" >
<h2>Wichtiges zum Wachstum von Pflanzen</h2>
<h2>Basilikum</h2>
Basilikum (Ocimum basilicum L.) ist das in Deutschland mit Abstand beliebteste Produkt im Bereich Topf- und Schnittkräuter. Sie benötigt im Allgemeinen ein warmes und windgeschütztes Klima, sowie nährstoffreichen Boden.
<h3>Temperatur</h3>
Die Temperatur liegt idealerweise zwischen 18 und 22 Grad, wobei unter 18 Grad praktisch kein Wachstum mehr stattfindet und die Wahrscheinlichkeit von Pilzbefall wächst. 22 Grad gelten hingegen als ideal. Besonders empfindlich ist Basilikum als Jungpflanze, so dass die Anzucht ausschließlich in Gewächshäusern erfolgt.
<h3>Luftfeuchtigkeit</h3>
Die Luftfeuchtigkeit sollte im zeitlichen Mittel immer unter 70% betragen. Idealerweise bewegt sie sich im Gewächshaus um Werte zwischen 40 und 60 %.
<h3>Bewässerung</h3>
Das Substrat des Basilikums sollte weder komplett austrocknen, noch überwässert werden. Idealerweise wird eine neue Bewässerungsperiode erst begonnen, sobald das Substrat oberflächlich wieder trocken ist.
<h2>Petersilie</h2>
Petersilie (Petroselinum crispum) liegt hinter Basilikum auf dem zweiten Platz in der Kategorie Topf- und Schnittkräuter hinsichtlich seiner Verbreitung in Deutschland. Sie ist wesentlich besser an die hiesigen klimatischen Bedingungen angepasst.
<h3>Temperatur</h3>
Der ideale Temperaturbereich liegt für Petersilie zwischen 16 – 24 Grad Celsius. Obwohl sie auch Temperaturen bis knapp 5 Grad Celsius tolerieren kann. Damit ist Petersilie relativ kälteunempfindlich.
<h3>Luftfeuchtigkeit</h3>
Idealerweise beträgt die Luftfeuchtigkeit für Petersilie ca. 60%. Werte unter 50% sind problematisch.
<h3>Bewässerung</h3>
Das Substrat der Petersilie sollte zu jedem Zeitpunkt leicht feucht sein.
<h2>Schnittlauch</h2>
Schnittlauch (Allium schoenoprasum) gehört ebenfalls zu den beliebtesten Schnitt- und Topfkräutern in Deutschland. Aufgrund seines geringen Aromas eignet er sich nicht für die Herstellung von Trockengewürzen und wird daher hauptsächlich frisch oder tiefgefroren vertrieben.
<h3>Temperatur</h3>
Schnittlauch ist sehr anspruchslos hinsichtlich des Temperaturbereiches und wächst bei Temperaturen zwischen 5 und 28 Grad. Zudem toleriert er kurzzeitig sogar Frost.
<h3>Luftfeuchtigkeit</h3>
Schnittlauch wächst idealerweise in einer Umgebung mit relativ hoher Luftfeuchtigkeit
<h3>Bewässerung</h3>
Der Wurzelballen des Schnittlauchs darf zu keinem Zeitpunkt austrocknen, daher sollte das Substrat immer etwas feucht sein.
</div>